<div class="message-list">
  {{#each message in model.messages}}
  <div {{bind-attr class="message.seen:seen :row :message"}} {{bind-attr data-message-id=message.id}}>
    <div {{bind-attr class=":col-md-12 message.topic.channel.color"}}>
      <span {{bind-attr class=":channel-color message.topic.channel.color"}}>{{#view "toggle-message"}}<i class="glyphicon glyphicon-share-alt"></i>{{/view}}</span>
      <div class="message-header">
        {{#link-to 'channels.channel.topic' message.topic.channel.id message.topic.channel.name message.topic.id message.topic.title class="topic-title"}}{{message.topic.title}}{{/link-to}}
        <small class="pull-right text-muted">
          {{format-date message.pubdate}}
        </small>
      </div>
      <div class="message-body">
        <h5>{{message.author.name}}</h5>
        {{{message.contentHtml}}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

<footer class="row">
  <div class="col-xs-12">
    <form {{action 'createMessage' on='submit' id='messageform'}}>
      <div class="input-group input-group-lg">
        <span class="input-group-addon">{{channel.name}} <i class="glyphicon glyphicon-chevron-right"></i></span>
        {{input type="text" id="topic" value=topicTitle placeholder="topic" class="form-control"}}
      </div>
      <div class="form-group">
        {{message-box id="messagebox" class="form-control" value=message}}
      </div>
    </form>
  </div>
</footer>
