{{#if controller.subscribed}}
<div class="message-list">
  {{#each message in controller.subscribed itemController="message"}}
  <div {{bind-attr class="message.seen:seen :row :message"}} {{bind-attr data-topic-id=message.topic.id}} {{bind-attr data-channel-id=message.topic.channel.id}} {{bind-attr data-message-id=message.id}}>
    <div {{bind-attr class=":col-md-12 message.topic.channel.color"}}>
      {{#view "channels/message"}}
        <span {{bind-attr class=":channel-color message.topic.channel.color"}}>{{#view "toggle-message"}}<i class="glyphicon glyphicon-minus"></i>{{/view}}</span>
        <div class="message-header">
          {{#link-to 'channels.channel' message.topic.channel.id message.topic.channel.name class="channel-name"}}
            {{message.topic.channel.name}}
          {{/link-to}}
          <span class="glyphicon glyphicon-chevron-right"></span>
          {{#link-to 'channels.channel.topic' message.topic.channel.id message.topic.channel.name message.topic.id message.topic.title class="topic-title"}}
            {{message.topic.title}}
          {{/link-to}}
        </div>
        <div class="message-body" {{action "editMessage" on="doubleClick"}}>
          <small class="pull-right text-muted">
            {{format-date message.pubdate}}
          </small>
          <h5>{{message.author.name}}</h5>
          {{#if message.isEditing}}
          {{message-box class="form-control" value=message.content.content focus-out="acceptChanges" insert-newline="acceptChanges"}}
          {{else}}
          {{{message.contentHtml}}}
          {{/if}}
        </div>
      {{/view}}
    </div>
  </div>
  {{/each}}
</div>

<footer class="row footer">
  <div class="col-xs-12">
    <form {{action 'createMessage' on='submit' id='messageform'}}>
      <div class="input-group input-group-lg">
        {{view "select" id="channel-select" content=controllers.channels.subscribed class="form-control" value=channel optionValuePath="content.id" optionLabelPath="content.name"}}
        <span class="input-group-addon glyphicon glyphicon-chevron-right" id="addon-chevron-right"></span>
        {{input type="text" id="topic" value=topicTitle placeholder="topic" class="form-control"}}
      </div>
      <div class="form-group">
        {{message-box id="messagebox" class="form-control vert" value=message profiles=profiles}}
      </div>
    </form>
  </div>
</footer>
{{else}}
<div class="row message-list">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Nothing to display for the moment.</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <p><button class="btn btn-info" {{action 'tour'}}>Take the tour!</button></p>
            <p>Use the 'tags' icon on your left to create channels or subscribe to existing channels.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
