<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Profile</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            {{#if canChangeName}}
            <p>Display Name {{input value=model.profile.name class="form-control" action="updateName" on="key-press"}}</p>
            {{else}}
            <p>Display Name <input type="text" readonly="readonly" class="form-control"{{bind-attr value="model.profile.name"}}></p>
            {{/if}}
            <p>Email {{input value=model.profile.email class="form-control" readonly="readonly"}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Notifications</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12 checkbox">
            <p>Send me an email when:</p>
            <div>
              <label><input type="checkbox" {{bind-attr checked=mentionOn}} {{action 'toggleMention'}}> someone mentions me</label>
            </div>
            <div>
              <label><input type="checkbox" {{bind-attr checked=pmOn}} {{action 'togglePM'}}> someone sends me a PM</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
