{{#if currentUser.is_admin}}
<div class="pull-right">
  <button {{action 'lockTopic' }} class="btn btn-info"><i class="glyphicon glyphicon-lock"></i> {{#if model.topic.is_locked}}un{{/if}}lock topic</button>
  <button {{action 'deleteTopic' }} class="btn btn-danger" onClick="confirm('Are you sure? This is the last time we ask.')"><i class="glyphicon glyphicon-trash"></i> delete topic</button>
</div>
{{/if}}
<div class="message-list">
  {{#each message in messages itemController="message"}}
  <div {{bind-attr class="message.seen:seen model.topic.is_locked :row :message"}} {{bind-attr data-message-id=message.id}}>
    <div {{bind-attr class=":col-md-12 message.topic.channel.color"}}>
      <span {{bind-attr class=":channel-color message.topic.channel.color"}}>{{#view "toggle-message"}}<i class="glyphicon glyphicon-minus"></i>{{/view}}</span>
      <div class="message-header">
        {{#link-to 'channels.channel.topic' message.topic.channel.id message.topic.channel.name message.topic.id message.topic.title class="topic-title"}}{{message.topic.title}}{{/link-to}}
      </div>
      <div class="message-body" {{action "editMessage" on="doubleClick"}}>
        <small class="pull-right text-muted">
          {{format-date message.pubdate}}
        </small>
        <h5>{{message.author.name}}</h5>
          {{#if message.isEditing}}
          {{message-box class="form-control" value=message.content.content focus-out="acceptChanges" insert-newline="acceptChanges"}}
          {{else}}
          {{{message.contentHtml}}}
          {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{#if model.topic.is_locked}}
<footer class="row footer">
  <div class="col-xs-12 text-center">
    <h4>This topic has been locked.</h4>
  </div>
</footer>
{{else}}
<footer class="row footer">
  <div class="col-xs-12">
    {{#each flash in flashes.content}}
      {{flash-message flash=flash}}
    {{/each}}
    <form {{action 'createMessage' on='submit' id='messageform'}}>
      <div class="input-group input-group-lg">
        <span class="input-group-addon form-control-top-left" id="addon-chevron-right">{{model.topic.channel.name}} <i class="glyphicon glyphicon-chevron-right"></i></span>
        {{input type="text" id="topic" value=topicTitle placeholder="topic" class="form-control form-control-top-right"}}
      </div>
      <div class="form-group">
        {{message-box id="messagebox" class="form-control form-control-bottom vert" value=message profiles=profiles}}
      </div>
    </form>
  </div>
</footer>
{{/if}}
