<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <i class="navbar-toggle glyphicon glyphicon-off" {{action 'invalidateSession'}}></i>
      {{#link-to 'channels.search'}}<i class="navbar-toggle glyphicon glyphicon-search"></i>{{/link-to}}
      {{#if model.is_admin}}
        {{#link-to 'channels.admin'}}<i class="navbar-toggle glyphicon glyphicon-edit"></i>{{/link-to}}
      {{/if}}
      {{#link-to "channels" classNames="navbar-brand"}}<img src="assets/kwak.png">{{/link-to}}
    </div>

    <div class="collapse navbar-collapse">
      {{#if session.isAuthenticated}}
        <div class="navbar-form navbar-right">
          {{#link-to 'channels.profile'}}<small class="text-muted profile-settings">{{model.email}}</small>{{/link-to}}
          {{#unless model.hide_tour}}
            <button class="btn btn-primary" {{action 'tour'}}>Take the tour!</button>
          {{/unless}}
          {{#link-to 'channels.search' class="btn btn-default navbar-search"}}<i class="glyphicon glyphicon-search"></i> Search{{/link-to}}
          {{#if model.is_admin}}
            {{#link-to 'channels.admin' class="btn btn-default admin-panel"}}<i class="glyphicon glyphicon-edit"></i> Admin{{/link-to}}
          {{/if}}
          <a {{action 'invalidateSession'}} class="btn btn-default"><i class="glyphicon glyphicon-off"></i> Logout</a>
        </div>
      {{/if}}
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

{{outlet}}
