<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <i class="navbar-toggle glyphicon glyphicon-off" {{action 'invalidateSession'}}></i>
      <i class="navbar-toggle glyphicon glyphicon-refresh" {{action 'reload'}}></i>
      {{#link-to "channels" classNames="navbar-brand"}}<img src="assets/images/kwak.png">{{/link-to}}
    </div>

    <div class="collapse navbar-collapse">
      {{#if session.isAuthenticated}}
        <div class="navbar-form navbar-right">
          <small class="text-muted">{{model.email}}</small>
          <a {{action 'invalidateSession'}} class="btn btn-default">Logout</a>
        </div>
      {{/if}}
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

{{outlet}}
