{{#view 'channel-list'}}
<aside class="channels">
  <ul id="hide-channels" class="nav nav-pills nav-stacked">
    <li><span class="glyphicon glyphicon-chevron-right pull-right"></span></li>
  </ul>
  <h5>
    {{#link-to 'channels'}}Channels{{/link-to}}
    {{#link-to 'channels.subscribe'}}<span class="pull-right glyphicon glyphicon-tags"></span>{{/link-to}}
  </h5>
  <ul id="channels-list" class="nav nav-pills nav-stacked">
  {{#each channel in controller.subscribed}}
    {{#link-to 'channels.channel' channel.id channel.name tagName="li" href=false}}
      <a {{bind-attr href="view.href"}}><i {{bind-attr class=":glyphicon-tag channel.color"}}></i>{{#if hasMultipleTeams}}{{channel.team.name}} -{{/if}} {{channel.name}} <span class="label label-default pull-right unread-counter" {{bind-attr data-channel-id=channel.id}}>{{channel.unread}}</span></a>
    {{/link-to}}
  {{/each}}
  </ul>
</aside>
<div class="help"><p class="text-center">{{#link-to 'channels.help'}}help{{/link-to}}</p></div>
{{/view}}

<div class="container-fluid center-container">
  {{outlet}}
</div>

{{#view 'connected-list'}}
<aside class="connected">
  <ul id="hide-connected" class="nav nav-pills nav-stacked">
    <li><span class="glyphicon glyphicon-chevron-left pull-left"></span><br></li>
  </ul>
  <ul id="connected-list" class="list-group">
    {{#each profile in activeProfiles}}
    <li class="list-group-item active" {{action 'pm' profile}}>
      <span class="label label-default pull-right unread-pm-counter" {{bind-attr data-profile-id=profile.id}}>{{profile.unreadPm}}</span>
      {{profile.name}}
    </li>
    {{/each}}
    {{#each profile in otherProfiles}}
    <li class="list-group-item" {{action 'pm' profile}}>
      <span class="label label-default pull-right unread-pm-counter" {{bind-attr data-profile-id=profile.id}}>{{profile.unreadPm}}</span>
      {{profile.name}}
    </li>
    {{/each}}
  </ul>
</aside>
{{/view}}
