<div class="row">
  <div class="col-sm-6 col-md-3">
    <h5>Inactive users</h5>
      {{#each profile in controller.inactives}}
      <div class="checkbox"><label><input type="checkbox" {{action 'toggleActive' profile.id profile.is_active}}> {{profile.name}}</label></div>
      {{/each}}
  </div>
  <div class="col-sm-6 col-md-3">
    <h5>Active users</h5>
      {{#each profile in controller.actives}}
      <div class="checkbox"><label><input type="checkbox" checked="checked" {{action 'toggleActive' profile.id  profile.is_active}}> {{profile.name}}</label></div>
      {{/each}}
  </div>
  <div class="col-sm-12 col-md-6">
    <h5>Default channels</h5>
      {{#each channel in channels}}
      <div class="checkbox"><label><input type="checkbox" {{bind-attr checked=channel.is_default}} {{action 'toggleDefault' channel.id channel.is_default}}>{{#if hasMultipleTeams}} {{channel.team.name}} -{{/if}} {{channel.name}}</label></div>
      {{/each}}
  </div>
</div>
