<div class="container-fluid">
  <div class="row">
    <aside class="channels col-md-1 col-sm-2 hidden-xs">
      <ul class="nav nav-pills nav-stacked">
      {{#each channel in channels}}
        {{#link-to 'channels.channel' channel.id channel.name tagName="li" href=false}}<a {{bind-attr href="view.href"}}>{{channel.name}}</a>{{/link-to}}
      {{/each}}
      </ul>
    </aside>

    <div class="messages col-md-11 col-sm-10 col-xs-12">
      {{#each message in messages}}
      <div class="message">
        <div class="message-header">
          <div class="channel-name">{{message.channel.name}}</div>
          <div class="message-date">{{message.pubdate}}</div>
        </div>
        <div class="message-content">
          <p class="message-author">{{message.author.username}}</p>
          <p>{{message.content}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
