{{outlet}}

<footer class="row">
  <div class="col-xs-12">
    <form {{action 'createMessage' on='submit' id='messageform'}}>
      <div class="input-group input-group-lg">
        <span class="input-group-addon">{{channel.name}}&nbsp;»</span>
        {{input type="text" id="topic" value=topicTitle placeholder="topic" class="form-control"}}
      </div>
      <div class="form-group">
        {{textarea id="messagebox" class="form-control" value=message}}
      </div>
    </form>
  </div>
</footer>
