<div class="container-fluid">
  {{#each message in messages}}
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="message">
          <div class="message-header">
            <p>
              {{#link-to 'channels.channel' message.topic.channel.id message.topic.channel.name}}
                <span class="label label-info">{{message.topic.channel.name}}</span>
              {{/link-to}}
              &nbsp;»
              {{#link-to 'channels.topic' message.topic.channel.id message.topic.channel.name message.topic.id message.topic.title}}
                <span class="label label-warning">{{message.topic.title}}</span>
              {{/link-to}}
              <span class="pull-right">{{format-date message.pubdate}}</span>
            </p>
          </div>
          <div class="message-body">
            <div class="pull-left">
              <img class="profile-img" src="/assets/passed.png">
            </div>
            <h5>{{message.author.fullName}}</h5>
            <p>
              {{message.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
