<div class="container-fluid">
  {{#each message in messages}}
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="message">
          <div class="message-header">
            <p>
              <span class="pull-right">{{message.pubdate}}</span>
            </p>
          </div>
          <div class="message-body">
            <div class="pull-left">
              <img class="profile-img" src="/assets/passed.png">
            </div>
            <h5>{{message.author.fullName}}</h5>
            <p>
              {{message.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>{{#link-to 'channels.channel' topic.channel.id topic.channel.name}}{{topic.channel.name}}{{/link-to}}</li>
        <li class="active">{{topic.name}}</li>
      </ol>
    </div>
  </div>

</div>
