<div class="container-fluid">
  {{#each message in messages}}
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="message">
          <div class="message-header">
            <p>
              <span class="pull-right">{{message.pubdate}}</span>
            </p>
          </div>
          <div class="message-body">
            <div class="pull-left">
              <img class="profile-img" src="/assets/passed.png">
            </div>
            <h5>{{message.author.fullName}}</h5>
            <p>
              {{message.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <div class="row">
    <div class="col-xs-12">
      <form {{action 'message.createMessage' on='submit'}}>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">{{topic.channel.name}}&nbsp;»</span>
          {{input type="text" name="topic" value=topic.name placeholder="topic" class="form-control"}}
        </div>
        <div class="form-group">
          <textarea class="form-control"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
